* {
    /* background-color: #050607; */
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Inter', sans-serif;
}

header {
    padding: 16px 24px;
}

nav {
    width: 100%;
}

body {
    background-color: #050607;
    background-image: url("./bg-dark.svg");
    background-size: cover;
    background-repeat: no-repeat;
}


.navMain {
    max-width: 1056px;
    margin: auto;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.navBarCommanHead {
    display: flex;
    /* justify-content: space-evenly; */
    gap: 168px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.navBarHead {
    display: flex;
}

.navBarLinksMain {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBarLinks {
    padding: 4px 12px;
    text-decoration: none;
    gap: 4px;
}

.navBarButtons {
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
    padding: 6px 4px;
    border-radius: 15px;
    text-decoration: none;
}

.secondary {
    background-color: lab(100% 0 0/.05);
}

.primary {
    background-color: lab(100% 0 0);
    color: #050607;
}

.navBarButtonsMain {
    gap: 16px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainHead {
    padding: 40px 32px 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


.mainDiv {
    max-width: 720px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.mainSpan {
    background-color: lab(51.3415% -41.5657 15.3527);
    padding: 2px 5px;
    border-radius: 10px;
    color: #fff;
}


.mainHeadUrl {
    margin-bottom: 32px;
    display: flex;
    gap: 8px;
    padding: 8px 16px;
    background-color: lab(100% 0 0 / 0.05);
    border-radius: 15px;
    text-decoration: none;
    align-items: center;
}


.intelligentDiv {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 16px;
    font-size: 64px;
    text-wrap: balance;
}

.helpingDiv {
    display: flex;
    text-align: center;
    padding-top: 30px;
    text-wrap: balance;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-size: 18px;
    max-width: 472px;
    line-height: 27px;
}

.main {
    width: 100%;
    height: 100vh;
}

.emailDiv {
    color: #ffffff;
    padding: 6px 12px;
}


.emailButtonDiv {
    background-color: lab(100% 0 0/.05);
    border-radius: 20px;
    width: 35%;
    justify-content: space-between;
    display: flex;
    margin-top: 32px;
    padding: 10px 10px;
}

.emailButton {
    background-color: lab(100% 0 0);
    color: #050607;
    padding: 6px 12px;
    border-radius: 15px;
    text-decoration: none;
}

.mainImage {
    display: flex;
    justify-content: center;
    margin-top: 64px;
}

.mainImage img {
    max-width: 900px;
    width: 100%;
    border-radius: 20px;
}


.logoSection {
    margin-top: 96px;
    padding: 64px 0;
    display: flex;
    justify-content: center;
}

.logoDiv {
    opacity: 0.6;
    font-size: 18px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);    
}

.logoContainers{
    padding: 16px;
}